body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  .label-input {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-primary {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #070252;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-primary:hover {
    background-color: #786eff;
  }
  
  .result-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-container p {
    margin-bottom: 10px;
  }
  
  .result-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }

  /* Estilos para el footer */
.footer {
    background-color: #070252;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 10px;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #3e82ff;
  }
  
  .footer p {
    margin: 0;
  }
  
  nav{
    background-color: #070252;
  }
